# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# data files
cifar-10-batches-py/
cifar-10-python.tar.gz

# logs files
quick_run.log

# experiments files
experiments/